/* Components */
body {
	background-color: #F5F5F5;
}

h3 {
	margin-top: 20px;
	margin-bottom: 20px;
}

thead {
	background-color: #424242;
	color: white;
}

/* Classes */
.row {
	display: block;
	text-align: center;
}